* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

header {
  width: 80%;
}

main {
  width: 80%;
}

.tarefa {
  cursor: pointer;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}

#tarefas-salvas-container {
  background-color: #f2f2f2;
  padding: 10px;
  border: 2px solid #CCCCCC;
  max-width: 880px;
  margin: 0 auto;
  height: 670px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.tarefa-salva {
  width: 31%;
  height: 180px;
  margin: 1%;
  padding: 10px;
  background-color: gray;
}
