* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background-image: url(./images/background-LightMode.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.dark-mode-background {
  background-color: rgb(35, 32, 54);
  background-image: url(./images/background-DarkMode.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dark-mode-color {
  color: #fff;
}

header {
  padding: 15px 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

footer {
  padding: 15px 0;
}

footer p{
  font-size: 12px;
}

ul {
  list-style: none;
  cursor: pointer;
  display: flex;
}

li {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid black;
}

#color-palette {
  padding: 15px 0;
}

#pixel-board {
  display: table;
}

.line {
  display: table-row;
}

.pixel {
  display: table-cell;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(105, 105, 105);
}

.generate-container {
  margin: 15px 0;
}

#clear-board {
  margin: 15px 0;
}
