body {
  background-color: #bbb592;
  text-align: center;
  font-family: sans-serif;
  margin: 0;
}

.box {
  padding: 0 4%;
  position: relative;
  z-index: 1;
}

.navigator {
  text-align: right;
  padding: 20px 4%;
  background-color: #B8B42D;
  position: sticky;
  top: 0;
  z-index: 2;
}

a {
  color: #FFFCE8;
  font-weight: bold;
  text-decoration: none;
  margin-right: 30px;
}

h1 {
  color: #3E363F;
  
}

h2 {
  color: #DD403A;
}

p {
  color: #3E363F;
}

img {
  width: 15%;
}

strong {
  color: #697A21;
}

ol {
  list-style-position: inside;
}

ul {
  list-style: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
