*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

html, body{
	height: 100%;
}

body {
  background-color: #bbb592;
}

nav {
  width: 100%;
  padding: 20px 4%;
  background-color: #B8B42D;
  position: fixed;
  top: 0;
  box-shadow: 0px 1px 7px 2px rgba(0,0,0,0.7);
}

nav li {
  display: inline-block;
}

a {
  width: auto;
  padding: 20px 0;
  color: #FFFCE8;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
  letter-spacing: 0.5px;
  margin: 0 15px;
}

.hero-stage {
  height: 100vh;
  padding-top: 170px;
  background-image: url("../images/hero-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.botao {
  color: white;
  font-size: 10px;
  font-weight: bold;
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid white;
  cursor: pointer;
  
  position:relative;
  top:35%;
  left:50%;
  transform: translate(-50%, -50%);
}

.botao a {
  margin-left: 4px;
  position:relative;
  top: 35%;
}

main section {
  padding: 40px 0;
}

h1, h2 {
  text-align: center;
}

h1 {
  color: #697A21;
  font-size: 4em;
  font-weight: 700;
}

.hero-stage h1, .hero-stage h2 {
  -webkit-text-stroke-width: 2px;
}


.hero-stage h2 {
  color: #FFFCE8;
}

h2 {
  color: #DD403A;
  margin: 60px;
  font-size: 3em;
  font-weight: 700;
}

p {
  color: #3E363F;
}

strong {
  color: #697A21;
}

ol {
  list-style-position: inside;
}

ul {
  list-style: none;
}

#sobre a {
  font-size: 12px;
  text-align: center;
}

#sobre p {
  text-align: justify;
  max-width: 450px;
  margin-left: 80px;
  line-height: 24px;  
}

.about-description {
  padding: 40px 60px;
}

#sobre img {
  width: 280px;
  border-radius: 20px;
  border: 3px solid #3E363F;
}

#habilidades ol, #habilidades ul {
  font-size: 22px;
  line-height: 38px;
  text-align: center;
}

.skills {
  height: 450px;
  margin: 60px;
  background-color: #FFFCE8;
  box-shadow: 0px 1px 7px 2px rgba(0,0,0,0.7); 
}

.single-portfolio-wrapper {
  padding: 0 60px;
}

.single-portfolio {
  width: 25%;
  height: 300px;
  padding: 5px;
  margin: 5px;
  background-color: white;
  display: inline-block;
  box-shadow: 0px 1px 7px 2px rgba(0,0,0,0.7);
  text-align: center;
}

.single-portfolio img {
  width: 100%;
  margin-bottom: 15px;
}

.single-portfolio a {
  padding: 0;
  margin: 0;
  color: #DD403A;
}

.single-portfolio p {
  margin-top: 15px;
  text-align: center;
}

footer {
  padding: 60px;
  text-align: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left { float: left; }
.right { float: right; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.w50 { width: 50%; }
.clear { clear: both; }