body {
  background-color: #bbb592;
  text-align: center;
  font-family: sans-serif;
}

a {
  color: #697A21;
  font-weight: bold;
  text-decoration: none;
  margin-right: 25px;
}

h1 {
  color: #3E363F;
  
}

h2 {
  color: #DD403A;
}

p {
  color: #3E363F;
}

img {
  width: 15%;
}

strong {
  color: #697A21;
}

ol {
  list-style-position: inside;
}

ul {
  list-style: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
